*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
*/.idea/*
application/cache/*
application/config/*
application/core/*
application/hooks/*
application/.htaccess
application/index.html
application/language/*
application/libraries/*
application/logs/*
application/models/*
*/third_party/*
*/views/*
*/system/*


*/composer.json
*/contributing.md
*/index.php
*/license.txt
*/readme.rst
*/system/*
*/user_guide/*


